*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section1{
    display: flex;
    width: 100%;
    height: 50vh;
    background-color: rgb(84, 9, 94);
  
}
.section2{
    display: flex;
    width: 100%;
    height: 50vh;
    background-color: rgb(84, 9, 94);
  
}
.sub1{
    display: flex;
    width: 50%;
    justify-content: center;
    border: solid;
    padding: 20px;
}
.sub2{
    display: flex;
    width: 50%;
    justify-content: center;
    border: solid;
    padding: 20px;
    align-items: end;
}
.sub3{
    display: flex;
    width: 50%;
    justify-content: center;
    border: solid;
    padding: 20px;
}
.sub4{
    display: flex;
    width: 50%;
    justify-content: center;
    border: solid;
    padding: 20px;
}
.con1{
    width: 20%;
    background-color: orange;
    border-radius: 15px;
    margin: 5px;
    height: 200px;
}
.con2{
    width: 20%;
    background-color: orange;
    border-radius: 15px;
    margin: 5px;
    height: 250px;

}
.con3{
    width: 20%;
    background-color: orange;
    border-radius: 15px;
    margin: 5px;
    height: 100px;
}
.con4{
    width: 20%;
    background-color: orange;
    border-radius: 15px;
    margin: 5px;
    height: 180px;
}
.con5{
    width: 20%;
    background-color: orange;
    border-radius: 15px;
    margin: 5px;
}
.con6{
    width: 20%;
    background-color: orange;
    border-radius: 15px;
    margin: 5px;

}
.con7{
    width: 20%;
    background-color: orange;
    border-radius: 15px;
    margin: 5px;
}
.con8{
    width: 20%;
    background-color: orange;
    border-radius: 15px;
    margin: 5px;
}
.con9{
    width: 20%;
    background-color: orange;
    border-radius: 15px;
    margin: 5px;
}
.con10{
    width: 20%;
    background-color: orange;
    border-radius: 15px;
    margin: 5px;

}
.con11{
    width: 20%;
    background-color: orange;
    border-radius: 15px;
    margin: 5px;
}
.con12{
    width: 20%;
    background-color: orange;
    border-radius: 15px;
    margin: 5px;
}
.con13{
    width: 20%;
    background-color: orange;
    border-radius: 15px;
    margin: 5px;
}
.con14{
    width: 20%;
    background-color: orange;
    border-radius: 15px;
    margin: 5px;

}
.con15{
    width: 20%;
    background-color: orange;
    border-radius: 15px;
    margin: 5px;
}
.con16{
    width: 20%;
    background-color: orange;
    border-radius: 15px;
    margin: 5px;
}